.carrito_main{
    margin-top: 10rem;
    margin-bottom: 10rem;
}


/* SIN PRIDUCTOS */
.sin_productos {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20rem;
    margin-top: 10rem;
}

.sin_productos .sin_productos_img {
    max-width: 300px;
    margin: 0 auto;
}

.sin_productos h3{
    font-size: 4rem;
    margin-top: 0;
    opacity: 0.5;
}


/* COMPRA EXITOSA */

.compra_exitosa .compra_exitosa_img{
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}
.compra_exitosa h3{
    color: var(--negro);
    opacity: 1;
}
.compra_exitosa a{
    display: inline-block;
    width: auto;
}
/* CONTENIDO */

.contenido {
    display: grid;
    gap: 4rem;
}

.carrito {
    gap: 4rem;
}

.producto {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 4rem;
    border-bottom: 1px solid #CFCFCF;
    padding: 3rem 0;
}

.producto_img {
    max-width: 250px;
    margin: 0 auto;
}

.producto.producto_curso { /*Guitarra*/
    grid-template-columns: 1fr;
}

.producto:last-child {
    border-bottom: none;
}

.producto p {
    margin: 0 1rem 0 0;
}

.producto .nombre {
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    max-width: 90%;
}
.cantidad {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.select {
    /* all: unset; */
    /* flex: 1; */
    border:  1px solid var(--primary);
    padding: 0.8rem 5rem;
    text-align: center;
    border-radius: 0.4rem;
}

.precio {
    font-weight: 700;
    color: var(--primary);
}
.precio span {
    font-size: 2.4rem;
}

.subtotal {
    font-weight: 700;
}

.subtotal span {
    font-size: 2.4rem;
}

.eliminar {
    all: unset;
    position: absolute;
    top: 4.5rem;
    right: 2rem;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 0.2rem;
    background-color: var(--blanco);
    display: grid;
    place-content: center;
    border: 1px solid#d3d3d3;
}

.eliminar:hover {
    color: var(--blanco);
    background-color: rgb(219, 35, 35);
    border: 1px solid rgb(219, 35, 35);
}

/* Resumen */

.resumen {
    background-color: #F9FAFB;
    padding: 3rem;
    border-radius: 1rem;
}

.resumen h3 {
    margin-top: 0;
    text-align: center;
}

.resumen div {
    border-bottom: 1px solid #d3d3d3;
}

.resumen p {
    display: flex;
    justify-content: space-between;
}

.total_pagar {
    font-weight: bold;
}

.btn_pagar {
    width: 100%;
    border: none;
    margin-top: 2rem;
    background-color: var(--primary);
    text-transform: uppercase;
    padding: 1.7rem 2rem;
    color: var(--blanco);
    font-weight: 700;
    transition: background-color 0.3s ease-out;
    text-decoration: none;
    font-size: 1.8rem;
    border: 2px solid var(--primary);
    cursor: pointer;
}

.btn_pagar:hover {
    background-color: #ffa200;
    border-color: #ffa200;
}

.btn_pagar:disabled {
    background-color: #e7aa3f;
    border-color: #e7aa3f;
    opacity: 0.7;
    cursor: auto;
}

.btn_pagar:disabled:hover {
    background-color: #e7aa3f;
    border-color: #e7aa3f;
}

.btn_pagar div{
    margin: 0 auto;
    width: 20px;
    height: 20px;
}

@media screen and ( min-width: 500px ) {
    .producto {
        grid-template-columns: 2fr 4fr;
    }  
}

@media screen and ( min-width: 768px ) {
    .contenido {
        grid-template-columns: 3fr 2fr;
        column-gap: 10rem;
        align-items: flex-start;
    }
    .sin_productos h3 {
        font-size: 4.5rem;
    }

    .producto.producto_curso { /*Guitarra*/
        grid-template-columns: 2fr 4fr;
    }

    .eliminar {
        top: 3rem;
        right: 2rem;
    }
    
}