.footer {
    margin-top: 5rem;
    background-image: linear-gradient( to right, rgb(0 0 0 / .8), rgb( 0 0 0 / .7) ), url(../public/img/cursos_bg.jpg);
    background-size: cover;
    background-position: center;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}

.navegacion {
    display: flex;
}

.navlist{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navegacion a:hover {
    color: var(--primary);
}

.navegacion .activeLink a {
    color: var(--primary);
}

.copyright {
    color: var(--blanco);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.copy {
    border-top: 1px solid rgb( 255 255 255 / 0.2);
    padding: 1.8rem 0.5rem;
}

.copy a {
    color: var(--blanco);
}

.copy a:hover{
    color: var(--primary);
}

@media screen and ( min-width: 400px ) {
    .navlist{
        margin-top: 1rem;
        flex-direction: row;
    }
}

@media screen and ( min-width: 768px ) { 
    .contenido {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .copyright {
        font-size: initial;
    }
}