.tienda_main {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.listado {
    display: grid;
    gap: 4rem;
}

@media screen and ( min-width: 768px ) {
    .listado {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and ( min-width: 940px ) {
    .listado {
        grid-template-columns: repeat(3, 1fr);
    }
}